[submodule "externals/radare/r2hermes"]
	path = externals/radare/r2hermes
	url = https://github.com/radareorg/r2hermes.git
[submodule "react-use-r2"]
	path = react-use-r2
	url = https://github.com/ChiChou/react-use-r2.git
[submodule "externals/react-use-r2"]
	path = externals/react-use-r2
	url = https://github.com/ChiChou/react-use-r2.git
