:root {
  --splitter-size: 4px;
  --splitter-hover-size: 4px;
  --splitter-color: #eee;
  --highlight-color: #999;
}

[data-theme="dark"] {
  --splitter-color: #222;
  --highlight-color: rgb(0, 122, 204);
}

.splitpanes--horizontal .splitpanes__pane,
.splitpanes--vertical .splitpanes__pane {
  transition: none;
}

.splitpanes__splitter {
  transition: 0.2s ease-in-out background-color;
}

.splitpanes--vertical>.splitpanes__splitter {
  min-width: var(--splitter-size);
  cursor: ew-resize;

  &:hover {
    min-width: var(--splitter-hover-size);
  }
}

.splitpanes--horizontal>.splitpanes__splitter {
  min-height: var(--splitter-size);

  &:hover {
    min-height: var(--splitter-hover-size);
  }
}

.splitpanes--vertical>.splitpanes__splitter,
.splitpanes--horizontal>.splitpanes__splitter {
  background: var(--splitter-color);
  transition: .4s ease-in-out background-color;

  &:hover {
    background: var(--highlight-color);
  }
}